<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="form-grid">
    <mat-form-field appearance="outline" style="grid-column:span 2"><mat-label>Property *</mat-label><mat-select formControlName="propertyId"><mat-option *ngFor="let p of properties" [value]="p.id">{{p.p_name||p.name}}</mat-option></mat-select></mat-form-field>
    <mat-form-field appearance="outline"><mat-label>Unit Number *</mat-label><input matInput formControlName="unitNo"></mat-form-field>
    <mat-form-field appearance="outline"><mat-label>Floor</mat-label><input matInput formControlName="floor"></mat-form-field>
    <mat-form-field appearance="outline"><mat-label>Type *</mat-label><mat-select formControlName="type"><mat-option *ngFor="let t of types" [value]="t">{{t}}</mat-option></mat-select></mat-form-field>
    <mat-form-field appearance="outline"><mat-label>Status *</mat-label><mat-select formControlName="status"><mat-option *ngFor="let s of statuses" [value]="s">{{s}}</mat-option></mat-select></mat-form-field>
    <mat-form-field appearance="outline"><mat-label>Bedrooms</mat-label><input matInput type="number" formControlName="bedrooms"></mat-form-field>
    <mat-form-field appearance="outline"><mat-label>Bathrooms</mat-label><input matInput type="number" formControlName="bathrooms"></mat-form-field>
    <mat-form-field appearance="outline" style="grid-column:span 2"><mat-label>Target Rent (SAR) *</mat-label><input matInput type="number" formControlName="targetRent"></mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end"><button mat-button (click)="cancel()">Cancel</button><button mat-raised-button color="primary" (click)="save()">{{buttonName}}</button></mat-dialog-actions>
